* {
    background-color: seashell;
  }
  .header {
    color: maroon;
  }
  .header span {
    font-size: 20px;
    margin-left: 130px;
    margin-right: 130px;
    font-weight: bold;
  }
  .header i {
    font-size: 20px;
  }
  .button {
    margin-top: 40px;
    margin-left: 15px;
  }
  .button #borrow {
    color: black;
    padding: 5px;
    width: 200px;
    margin: -5px;
    border-radius: 20px;
  }
  .button #return {
    padding: 5px;
    width: 200px;
    border-radius: 20px;
  }
  .button #borrow:hover {
    background-color: maroon;
    color: white;
  }
  .button #return:hover {
    background-color: maroon;
    color: white;
  }
  /*Borrow book 1*/
  .borrow_books1 {
    margin-top: 30px;
    display: flex;
  }
  .borrow_books1 .book1 {
    width: 180px;
    height: 230px;
  }
  .borrow_books1 .accession1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 20px;
    margin-top: -10px;
    width: 250px;
    height: 230px;
  }
  .view-book1 {
    margin-top: 15px;
  }
  .view-book1 button {
    width: 410px;
    padding: 5px;
    background-color: maroon;
    color: white;
  }
  /*Borrow book 2*/
  .borrow_books2 {
    margin-top: 30px;
    display: flex;
  }
  .borrow_books2 .book2 {
    width: 180px;
    height: 230px;
  }
  .borrow_books2 .accession2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 20px;
    margin-top: -10px;
    width: 250px;
    height: 230px;
  }
  .view-book2 {
    margin-top: 15px;
  }
  .view-book2 button {
    width: 410px;
    padding: 5px;
    background-color: maroon;
    color: white;
  }
  