body{
    background-color: 	rgb(249, 246, 238);
}
.login{
    display: flex;  
}
.login .lms{
    margin-left: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: maroon;
}
.login .button{
    background-color: rgb(102, 8, 9);
    color: white;
    height: 30px;
    padding: 5px;
    margin-top: 7px;
    margin-left: 275px;
}
.login .button:hover{
    background-color: rgb(157, 71, 71);
    cursor: pointer;
}
.line1{
    margin-bottom: 0px;
}
.line2{
    margin-top: 0px;
}
.searched {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}
  .searched select {
    padding: 5px;
}
  .searched input {
    padding: 5px;
    width: 340px;
}
  table{
    font-family: arial;
    font-size: small;
    border-collapse: collapse;
    width: 415px;
    background-color: rgb(102, 8, 9);
    color: white; 
    height: 100px;
}
td{
    border: 1px solid gray;
    text-align: center;
    background-color: white;
    color: black;
}
.books{
    margin-top: 20px;
    display: flex;
}
.books .h1book{
    font-size: large;
    font-family: arial;
}
.books .level{
    margin-left: 100px;
    width:90px;
}
.books .highschool{
    height: 30px;
    width: 170px;
    margin-top: 10px;
}
/*grade 7 BOOKS*/
.highschool-view1{
    display: flex;
}
.highschool-view1 h4{
    font-family: arial;
    font-size: medium;
}
.highschool-view1 button{
    margin-left: 290px;
    margin-top: 15px;
    height: 30px;
}
.highschool-view1 button:hover{
    cursor: pointer;
    background-color: maroon;
    color: white;
}
.grade7{
    display: flex;
}
.grade7 img{
    width: 85px;
    margin: 10px;
}
.grade7-text{
    display: flex;
    font-size: small;
}
.grade7-text p{
    font-family: sans-serif;
    margin-top: 0px;
}
#name1{
    margin-left: 30px;
}
#name2{
    margin-left: 60px;
}
#name3{
    margin-left: 60px;
}
#name4{
    margin-left: 60px;
}
.available-text{
    display: flex;
    font-size: small;
}
.available-text p{
    font-family: sans-serif;
    margin-top: -10px;
    color: rgb(0, 184, 18);
}
#available1{
    margin-left: 25px;
}
#available2{
    margin-left: 55px;
}
#available3{
    margin-left: 52px;
}
#available4{
    margin-left: 55px;
}
/*grade 8 BOOKS*/
.highschool-view2{
    display: flex;
}
.highschool-view2 h4{
    font-family: arial;
    font-size: medium;
}
.highschool-view2 button{
    margin-left: 290px;
    margin-top: 15px;
    height: 30px;
}
.highschool-view2 button:hover{
    cursor: pointer;
    background-color: maroon;
    color: white;
}
.grade8{
    display: flex;
}
.grade8 img{
    width: 85px;
    margin: 10px;
}
.grade8-text{
    display: flex;
    font-size: small;
}
.grade8-text p{
    font-family: sans-serif;
    margin-top: 0px;
}
#name5{
    margin-left: 30px;
}
#name6{
    margin-left: 60px;
}
#name7{
    margin-left: 60px;
}
#name8{
    margin-left: 60px;
}
.available-text{
    display: flex;
    font-size: small;
}
.available-text p{
    font-family: sans-serif;
    margin-top: -10px;
    color: rgb(0, 184, 18);
}
#available5{
    margin-left: 25px;
}
#available6{
    margin-left: 55px;
}
#available7{
    margin-left: 52px;
}
#available8{
    margin-left: 55px;
}
/*grade 9 BOOKS*/
.highschool-view3{
    display: flex;
}
.highschool-view3 h4{
    font-family: arial;
    font-size: medium;
}
.highschool-view3 button{
    margin-left: 290px;
    margin-top: 15px;
    height: 30px;
}
.highschool-view3 button:hover{
    cursor: pointer;
    background-color: maroon;
    color: white;
}
.grade9{
    display: flex;
}
.grade9 img{
    width: 85px;
    margin: 10px;
}
.grade9-text{
    display: flex;
    font-size: small;
}
.grade9-text p{
    font-family: sans-serif;
    margin-top: 0px;
}
#name9{
    margin-left: 30px;
}
#name10{
    margin-left: 60px;
}
#name11{
    margin-left: 50px;
}
#name12{
    margin-left: 55px;
}
.available-text{
    display: flex;
    font-size: small;
}
.available-text p{
    font-family: sans-serif;
    margin-top: -10px;
    color: rgb(0, 184, 18);
}
#available9{
    margin-left: 25px;
}
#available10{
    margin-left: 55px;
}
#available11{
    margin-left: 52px;
}
#available12{
    margin-left: 55px;
}
/*grade 10 BOOKS*/
.highschool-view4{
    display: flex;
}
.highschool-view4 h4{
    font-family: arial;
    font-size: medium;
}
.highschool-view4 button{
    margin-left: 280px;
    margin-top: 15px;
    height: 30px;
}
.highschool-view4 button:hover{
    cursor: pointer;
    background-color: maroon;
    color: white;
}
.grade10{
    display: flex;
}
.grade10 img{
    width: 85px;
    margin: 10px;
}
.grade10-text{
    display: flex;
    font-size: small;
}
.grade10-text p{
    font-family: sans-serif;
    margin-top: 0px;
}
#name13{
    margin-left: 25px;
}
#name14{
    margin-left: 55px;
}
#name15{
    margin-left: 50px;
}
#name16{
    margin-left: 55px;
}
.available-text{
    display: flex;
    font-size: small;
}
.available-text p{
    font-family: sans-serif;
    margin-top: -10px;
    color: rgb(0, 184, 18);
}
#available13{
    margin-left: 25px;
}
#available14{
    margin-left: 55px;
}
#available15{
    margin-left: 52px;
}
#available16{
    margin-left: 55px;
}