  .arrow{
    display: flex;
    color: maroon;
    font-size: 20px;
    margin-top: 40px;
  }
  .arrow a{
    height: 0px;
  }
  .arrow img{
    margin-left: 100px;
    width: 200px;
    height: 250px;
  }
  .accession{
    display: flex;
  }
  .accession h3{
    font-family: arial;
    font-size: small;
  }
  .accession h4{
    margin-left: 150px;
    margin-top: 13px;
    font-family: arial;
    font-size: small;
    color: rgb(18, 212, 18);
  }
  .hr{
    margin-top: -5px;
  }
  .book-info{
    font-family: arial;
    font-size: small;
  }
  .request{
    text-align: center;
  }
  .request button{
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(18, 212, 18);
    width: 400px;
    color: white;
  }
  .request button:hover{
    background-color: rgb(21, 133, 38);
    cursor: pointer;
  }