body{
    background-color: 	rgb(249, 246, 238);
}
.login{
    display: flex;  
}
.login .lms{
    margin-left: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: maroon;
}
.login .button{
    background-color: rgb(102, 8, 9);
    color: white;
    height: 30px;
    padding: 5px;
    margin-top: 7px;
    margin-left: 275px;
}
.login .button:hover{
    background-color: rgb(157, 71, 71);
    cursor: pointer;
}
.line1{
    margin-bottom: 0px;
}
.line2{
    margin-top: 0px;
}
.searched {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}
  .searched select {
    padding: 5px;
}
  .searched input {
    padding: 5px;
    width: 340px;
}
  table{
    font-family: arial;
    font-size: small;
    border-collapse: collapse;
    width: 415px;
    height: 100px;
    background-color: rgb(102, 8, 9);
    color: white;  
}
td{
    border: rgb(102, 8, 9);
    text-align: center;
    padding: 5px;
    background-color: white;
    color: black;
}
.books{
    margin-top: 20px;
    display: flex;
}
.books .h1book{
    font-size: large;
    font-family: arial;
}
.books .level{
    margin-left: 100px;
    width:90px;
}
.books .seniorhigh{
    height: 30px;
    width: 170px;
    margin-top: 10px;
}
/*STEM BOOKS*/
.seniorhigh-view1{
    display: flex;
}
.seniorhigh-view1 h4{
    font-family: arial;
    font-size: medium;
}
.seniorhigh-view1 button{
    margin-left: 305px;
    margin-top: 15px;
    height: 30px;
}
.seniorhigh-view1 button:hover{
    cursor: pointer;
    background-color: maroon;
    color: white;
}
.stem{
    display: flex;
}
.stem img{
    width: 85px;
    margin: 10px;
}
.stem-text{
    display: flex;
    font-size: small;
}
.stem-text p{
    font-family: sans-serif;
    margin-top: 0px;
}
#name1{
    margin-left: 30px;
}
#name2{
    margin-left: 60px;
}
#name3{
    margin-left: 60px;
}
#name4{
    margin-left: 60px;
}
.available-text{
    display: flex;
    font-size: small;
}
.available-text p{
    font-family: sans-serif;
    margin-top: -10px;
    color: rgb(0, 184, 18);
}
#available1{
    margin-left: 25px;
}
#available2{
    margin-left: 55px;
}
#available3{
    margin-left: 52px;
}
#available4{
    margin-left: 55px;
}
/*HUMSS BOOKS*/
.seniorhigh-view2{
    display: flex;
}
.seniorhigh-view2 h4{
    font-family: arial;
    font-size: medium;
}
.seniorhigh-view2 button{
    margin-left: 293px;
    margin-top: 15px;
    height: 30px;
}
.seniorhigh-view2 button:hover{
    cursor: pointer;
    background-color: maroon;
    color: white;
}
.humss{
    display: flex;
}
.humss img{
    width: 85px;
    margin: 10px;
}
.humss-text{
    display: flex;
    font-size: small;
}
.humss-text p{
    font-family: sans-serif;
    margin-top: 0px;
}
#name5{
    margin-left: 30px;
}
#name6{
    margin-left: 60px;
}
#name7{
    margin-left: 60px;
}
#name8{
    margin-left: 60px;
}
.available-text{
    display: flex;
    font-size: small;
}
.available-text p{
    font-family: sans-serif;
    margin-top: -10px;
    color: rgb(0, 184, 18);
}
#available5{
    margin-left: 25px;
}
#available6{
    margin-left: 55px;
}
#available7{
    margin-left: 52px;
}
#available8{
    margin-left: 55px;
}
/*ABM BOOKS*/
.seniorhigh-view3{
    display: flex;
}
.seniorhigh-view3 h4{
    font-family: arial;
    font-size: medium;
}
.seniorhigh-view3 button{
    margin-left: 315px;
    margin-top: 15px;
    height: 30px;
}
.seniorhigh-view3 button:hover{
    cursor: pointer;
    background-color: maroon;
    color: white;
}
.abm{
    display: flex;
}
.abm img{
    width: 85px;
    margin: 10px;
}
.abm-text{
    display: flex;
    font-size: small;
}
.abm-text p{
    font-family: sans-serif;
    margin-top: 0px;
}
#name9{
    margin-left: 30px;
}
#name10{
    margin-left: 60px;
}
#name11{
    margin-left: 50px;
}
#name12{
    margin-left: 55px;
}
.available-text{
    display: flex;
    font-size: small;
}
.available-text p{
    font-family: sans-serif;
    margin-top: -10px;
    color: rgb(0, 184, 18);
}
#available9{
    margin-left: 25px;
}
#available10{
    margin-left: 55px;
}
#available11{
    margin-left: 52px;
}
#available12{
    margin-left: 55px;
}
/*GAS BOOKS*/
.seniorhigh-view4{
    display: flex;
}
.seniorhigh-view4 h4{
    font-family: arial;
    font-size: medium;
}
.seniorhigh-view4 button{
    margin-left: 315px;
    margin-top: 15px;
    height: 30px;
}
.seniorhigh-view4 button:hover{
    cursor: pointer;
    background-color: maroon;
    color: white;
}
.gas{
    display: flex;
}
.gas img{
    width: 85px;
    margin: 10px;
}
.gas-text{
    display: flex;
    font-size: small;
}
.gas-text p{
    font-family: sans-serif;
    margin-top: 0px;
}
#name13{
    margin-left: 25px;
}
#name14{
    margin-left: 55px;
}
#name15{
    margin-left: 50px;
}
#name16{
    margin-left: 55px;
}
.available-text{
    display: flex;
    font-size: small;
}
.available-text p{
    font-family: sans-serif;
    margin-top: -10px;
    color: rgb(0, 184, 18);
}
#available13{
    margin-left: 25px;
}
#available14{
    margin-left: 55px;
}
#available15{
    margin-left: 52px;
}
#available16{
    margin-left: 55px;
}
/*ARTS*/
.seniorhigh-view5{
    display: flex;
}
.seniorhigh-view5 h4{
    font-family: arial;
    font-size: medium;
}
.seniorhigh-view5 button{
    margin-left: 315px;
    margin-top: 15px;
    height: 30px;
}
.seniorhigh-view5 button:hover{
    cursor: pointer;
    background-color: maroon;
    color: white;
}
.arts{
    display: flex;
}
.arts img{
    width: 85px;
    margin: 10px;
}
.arts-text{
    display: flex;
    font-size: small;
}
.arts-text p{
    font-family: sans-serif;
    margin-top: 0px;
}
#name17{
    margin-left: 25px;
}
#name18{
    margin-left: 55px;
}
#name19{
    margin-left: 50px;
}
#name20{
    margin-left: 55px;
}
.available-text{
    display: flex;
    font-size: small;
}
.available-text p{
    font-family: sans-serif;
    margin-top: -10px;
    color: rgb(0, 184, 18);
}
#available17{
    margin-left: 25px;
}
#available18{
    margin-left: 55px;
}
#available19{
    margin-left: 52px;
}
#available20{
    margin-left: 55px;
}