* {
    background-color: seashell;
  }
  .header {
    color: maroon;
  }
  .header span {
    font-size: 20px;
    margin-left: 130px;
    margin-right: 130px;
    font-weight: bold;
  }
  .header i {
    font-size: 20px;
  }
  .arrow{
    color: maroon;
    font-size: 20px;
    margin-top: 40px;
  }
  .h3{
    font-family: arial;
  }
  .profile-pic{
    font-size: 180px;
    text-align: center;
  }
  .h2{
    font-family: arial;
    text-align: center;
  }
  .information{
    display: flex;
  }
  .name{
    font-size: small;
    font-family: arial;
    width: 200px;
  }
  .course{
    margin-left: 50px;
    font-size: small;
    font-family: arial;
    width: 200px;
  }
  .total{
    display: flex;
  }
  .total-borrow{
    font-size: small;
    font-family: arial;
    width: 200px;
  }
  .total-penalty{
    margin-left: 50px;
    font-size: small;
    font-family: arial;
    width: 200px;
  }