* {
    background-color: seashell;
  }
  .header {
    color: maroon;
  }
  .header span {
    font-size: 20px;
    margin-left: 130px;
    margin-right: 130px;
    font-weight: bold;
  }
  .header i {
    font-size: 20px;
  }
  .view_ee{
    display: flex;
  }
  .view_ee a{
    height: 0px;
  }
  .view_ee i{
    margin-top: 30px;
    color: maroon;
  }
  .view_ee h4{
    margin-top: 30px;
    margin-left: 110px;
    font-size: medium;
    font-family: arial;
  }
  .list h5{
    margin-top: -5px;
    margin-left: 160px;
    font-family: arial;
  }
  /*1st layer*/
  .book1{
    display: flex;
  }
  .book1 img{
    width: 130px;
  }
  .book1 .one{
    margin-left: 0px;
  }
  .book1 .two{
    margin-left: 10px;
  }
  .book1 .three{
    margin-left: 10px;
  }
  .view1{
    margin-top: 10px;
  }
  .view1 a{
    background-color: maroon;
    color: white;
  }
  .view1 #button1{
    padding: 5px;
    width: 130px;
    margin-right: 5px;
    background-color: maroon;
    color: white;
  }
  .view1 #button1:hover{
    background-color: brown;
    cursor: pointer;
  }
  .view1 #button2{
    padding: 3px;
    width: 70px;
    width: 132px;
    margin-right: 5px;
    background-color: maroon;
    color: white;
    }
    .view1 #button2:hover{
    background-color: brown;
    cursor: pointer;
    }
  .view1 #button3{
    padding: 3px;
    width: 132px;
    background-color: maroon;
    color: white;
  }
  .view1 #button3:hover{
    background-color: brown;
    cursor: pointer;
  }
  /*2nd layer*/
  .book2{
    display: flex;
    margin-top: 30px;
  }
  .book2 img{
    width: 130px;
  }
  .book2 .four{
    margin-left: 0px;
  }
  .book2 .five{
    margin-left: 10px;
  }
  .book2 .six{
    margin-left: 10px;
  }
  .view2{
    margin-top: 10px;
  }
  .view2 #button4{
    padding: 3px;
    width: 130px;
    margin-right: 5px;
    background-color: maroon;
    color: white;
  }
  .view2 #button4:hover{
    background-color: brown;
    cursor: pointer;
  }
  .view2 #button5{
    padding: 3px;
    width: 70px;
    width: 132px;
    margin-right: 5px;
    background-color: maroon;
    color: white;
    }
    .view2 #button5:hover{
    background-color: brown;
    cursor: pointer;
    }
  .view2 #button6{
    padding: 3px;
    width: 132px;
    background-color: maroon;
    color: white;
  }
  .view2 #button6:hover{
    background-color: brown;
    cursor: pointer;
  }
  /*3rd layer*/
  .book3{
    display: flex;
    margin-top: 30px;
  }
  .book3 img{
    width: 130px;
  }
  .book3 .seven{
    margin-left: 0px;
  }
  .book3 .eight{
    margin-left: 10px;
  }
  .book3 .nine{
    margin-left: 10px;
  }
  .view3{
    margin-top: 10px;
  }
  .view3 #button7{
    padding: 3px;
    width: 130px;
    margin-right: 5px;
    background-color: maroon;
    color: white;
  }
  .view3 #button7:hover{
    background-color: brown;
    cursor: pointer;
  }
  .view3 #button8{
    padding: 3px;
    width: 70px;
    width: 132px;
    margin-right: 5px;
    background-color: maroon;
    color: white;
    }
    .view3 #button8:hover{
    background-color: brown;
    cursor: pointer;
    }
  .view3 #button9{
    padding: 3px;
    width: 132px;
    background-color: maroon;
    color: white;
  }
  .view3 #button9:hover{
    background-color: brown;
    cursor: pointer;
  }