* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #e0dddd;
}


/* ------------------------------- LOGIN MODALITY */
.login-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.login-icon svg{
    border-radius: 100%;
    color: white;
}
.icon-circle {
    padding: 10px;
    background-color: #D81116;
    border-radius: 100%;
}
.login-title {
    text-align: center;
    letter-spacing: 1.5px;
}

.contents {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.contents .user-field input {
    width: 100%;
    border-radius: 5px;
    background-color: #efeff1;
    border: gray;
    padding: 6px 12px;
}
.modal-content {
    width: 380px;
}
.login-as {
    display: flex;
    justify-content: space-between;
}
.btn-submit input{
    background-color: #D81116;
    padding: 6px 12px;
    color: white;
    border-radius: 5px;
    border: none;
    width: 100%;
}
/* -------------------------------------------------------- MAIN CONTENT -------------------- */
/* Display BOoks AREA  */
    
    .book-title {
        font-size: 14px; /* Adjust the font size as needed */
        text-align: center;
        word-spacing: 0.05em; /* Adjust word spacing to your preference */
        letter-spacing: 0.05em; /* Adjust letter spacing to your preference */
        line-height: 1.5; /* Increase line height for better readability */
        hyphens: auto; /* Enable automatic hyphenation to improve text layout */
    }
    .custom-row .col-2 img {
        width: 100%;
        height: auto;
    }
    .custom-row .img-fluid {
        height: 100%; /* Ensure the image fills the entire height of its container */
        width: auto; /* Maintain the aspect ratio */
    }
    .mid-container {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
       
    }
    .mid-content {
        margin-top: 25px;
        border-radius: 5px;
    }
    .main-container {
        margin: 0;
        padding: 0;
    }
    .book-image {
        max-width: 90%; /* Adjust as needed */
        max-height: 90%; /* Adjust as needed */
    }


    /* ----------------- SEARCH TABLE RESULT -----  */
    .table thead tr th {
        background-color: #660809;
        color: white;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;      
    }
    .table tbody tr td {
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;      
    }
    .table tbody tr button {
        background-color: #660809;
        color: white;
        padding: 4px 16px;
        border: none;
        font-size:14px;
    }
    .search-result-box {
        display: none;
    }
    .level-label {
        white-space: nowrap;
    }
    .flex-column {
        flex-direction: column;
    }

    .image-container img {
        width: 100px;
        height: 150px;
    }